{
  "submission_key_fpr": "65A1B5FF195B56353CC63DFFCC40EF1228271441",
  "hidserv": {
    "hostname": "avgfxawdn6c3coe3.onion",
    "key": "Il8Xas7uf6rjtc0LxYwhrx"
  },
  "usb": {
    "device": "sys-usb:1-2"
  },
  "environment": "prod",
  "vmsizes": {
     "sd_app": 10,
     "sd_log": 5
  }
}
