include dom0/*.sls
include dom0/*.top
include dom0/*.j2
include dom0/*.yml
include dom0/*.conf
include dom0/remove-tags.py
include dom0/securedrop-handle-upgrade
include dom0/update-xfce-settings
include README.md
include LICENSE
include VERSION
include sd-proxy/*
include sd-whonix/*
include sd-workstation/*
include sdw_updater/*.py
include sdw_notify/*.py
include sdw_util/*.py
include usb-autoattach/*
include files/*
include setup.py
