include dom0/*.sls
include dom0/*.top
include dom0/*.j2
include dom0/*.yml
include dom0/*.conf
include dom0/remove-tags
include dom0/sdw-admin
include dom0/securedrop-login
include dom0/securedrop-launcher.desktop
include dom0/securedrop-handle-upgrade
include dom0/securedrop-check-migration
include dom0/update-xfce-settings
include config.json.example
include README.md
include LICENSE
include VERSION
include Makefile
include sd-proxy/*
include sd-whonix/*
include sd-app/*
include sd-workstation/*
include scripts/*
include sys-firewall/*
include launcher/*.py
include launcher/sdw_updater_gui/*.py
include launcher/sdw_notify/*.py
include launcher/sdw_util/*.py
include usb-autoattach/*
