[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
autopep8 = "*"
awscli = "*"
boto3 = "*"
flake8 = "*"
ipdb = "*"
pyyaml = "*"

[requires]
python_version = "3"
