[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=securedrop
Name=SecureDrop Monitor Server SSH
Exec=sdw-updater --launch "SecureDrop Monitor Server SSH" sd-admin press.freedom.SecureDropSshMon
