[Desktop Entry]
Type=Application
Version=1.0
Name=Open in Disposable VM
Comment=Open file in a Disposable VM
TryExec=/usr/bin/qvm-open-in-vm
Exec=/usr/bin/qvm-open-in-vm '$dispvm:sd-svs-disp' %f
Icon=/usr/share/icons/Qubes/dispvm-gray.png
Terminal=false
Categories=Qubes;Utility;
