[Unit]
Description=Disable power management settings

[Service]
Type=oneshot
Before=systemd-logind.service
ExecStart=rm -f /etc/systemd/logind.conf.d/10-logind_override.conf
ConditionPathExists=/var/lib/securedrop-workstation/dev

[Install]
WantedBy=multi-user.target