[Unit]
Description=Enable XFCE customizations for SDW
ConditionPathExists=!/etc/yum.repos.d/securedrop-workstation-dom0-dev.repo

[Service]
Type=oneshot
ExecStart=/usr/bin/securedrop/update-xfce-settings disable-unsafe-power-management

[Install]
WantedBy=default.target