Types: deb
URIs: https://apt.freedom.press
Suites: {{ codename }}
Components: {{ component }}
Signed-By:
 -----BEGIN PGP PUBLIC KEY BLOCK-----
 .
 mQINBGCZZq0BEAC+wLsE1p+RF7xSHUNSAKS/pFs9Ax0mAAoqdZ1KpB3u1DNTWZd+
 aj+TU/L/Yxgxlc5aapJn2LAhiTKRljLAnZXIwa97hvKPWwufphCg6QbyDlndXjLR
 LZGkR+Zi6Y2NPN+ryfG0ufCNph3iwJR3nBrRLN4uulFC5ejZsXdC5QXbFxssmWjF
 fUyaWwwwJ0Fz6oY2icsntumf8m7JeUNbLUWR7LDWqCOI52JEhswLXHfTbODNfp1K
 sGs0HwKmyH68ITRmNSjwz1xoS/ToXpBtiZ0YkczRlljfg4cxI11/7+pQohX9K7G5
 K4UT322QB5adtanIjVX7GFWjWxzs3MKE/xyLZN0+8jf/QnIC4K8vrMgWolQmRmJs
 RSCGGDoXT36g0kqnLuuFQmrvNnItcmy+5eefSCcjF+NG8xwN9kApRUxkpF3Dt/Bb
 PBCuKXghvQxA5V1r29v/gkyTsa6n5NQjix+5Lg0rCycqg4Mg77ZTlCklZ22nUXgB
 DWkG/xqMWXVZOtUa+REYrTCg9Zo7qlbIniRGeGfGtXYXI023clJH7QkSOEVbCzju
 SMG+mvRVGJVEWmkoD6mUqzgs+VpoJ9/f1OV5iZjeYRN7fDUYgZzYuWJp3fYmlvHj
 3oiAN7UrcUwESgoVl+Ga2VFJd+3w0qBLM+3bORq0z1sUp9oJhFpLLtqRuQARAQAB
 tEpTZWN1cmVEcm9wIFJlbGVhc2UgU2lnbmluZyBLZXkgPHNlY3VyZWRyb3AtcmVs
 ZWFzZS1rZXktMjAyMUBmcmVlZG9tLnByZXNzPokCVAQTAQoAPhYhBCNZ5lOMBhPm
 UpVebBiO3Tt7IuajBQJgmWatAhsDBQkCKbYABQsJCAcDBRUKCQgLBRYCAwEAAh4B
 AheAAAoJEBiO3Tt7IuajwuMP/3HGnRKTgRLdxeL/8tK4E204N+W3dPYhge1sFLeD
 ak0vXQeTzxizU/1Hi1+qLv+XRpKziPE0gvKnc8wThPhJ+G93hEAqI/Es4VIklzbB
 f/xhLeE54wk6tqz+wy4ugoq0NrRTLFRXT2SXA/enSxaH16fk/5LcNF0V8CTvoaGn
 5kvhZCSPJyw7eqPZGjH2pxy33sktprEAjN7aXuIHw3IiRHmrqgqSCpjn5rEEXO3Y
 u8osqh5ZdVQLnmtQiosA4IVNOKRJU9nTDnIVducx+RLG3Bz3Qf7/mmRC+M3hqGWB
 skk0c2+DtspsNyZh1E+8II3qVGqFwMBovSI0wPX3IOK4Wb91dz3/n8Ahc2N7pBY3
 7wH1GHjT/2Bv80F5d3bbUJVFDLEFFMSUcj4E6dxU38XkbBTODrOYcjzlIT6uK/XH
 Q61fE1e7PSVeNqr6eIqqaTdNZaOJNtlO5umYx0WQawKT72eznPW6HJkX5cfuTj9H
 ARwRCNOTpipOo499bMtk7UjJcTwc9KOxJeKDkbMUfe/43Zp1njctWuv2e/NPz92J
 Ma3BmLluuBR9HJTWKp8L6Ia55vhvtm3+hsgiTCf7gdpxkwRO7470ZeyZMZtARwxp
 2wcIrqdOKW8Zwij2Zsi882PPJjR4N07KiEv9pUBtLzlX3VsHBFSu32klxW3cNlSZ
 1eK/iQJUBBMBCgA+AhsDBQsJCAcDBRUKCQgLBRYCAwEAAh4BAheAFiEEI1nmU4wG
 E+ZSlV5sGI7dO3si5qMFAmJ+OGQFCQQKkzcACgkQGI7dO3si5qMcVQ//V/CLball
 ykNTLPEZWJQrwOZmNwZUYU0EnjRINKVe507TjhTg4sVNWM2+ke/PoXhPs/709Idu
 OIA5KrHpQCmJvkQr/DfyJDs9Bf4KDWwvqkNcKtU2afGX8WAY3/QyMiOk8ZbQKawR
 S77GomVvjdJIBvnPrlMkCzJc+CSQ/JT7PVdM913btC/D8G9wfsXL+SxMglwvqQVx
 QECAn8dwzoBtGV4pJOusA0uMf5z0OpGzu/Q8UCzpMAMhCw82sB55fHI+qARA5sN5
 O9eM9vWAnevUbV9YqQtv+gGjhxUH7F6312OPi68o78RO4rNc1aRxN02Fo07hIxw2
 396fG6s1vcstk9c6cRvhwdUYDj9CjLKOGACokwQLDn6dQGfnMz9MdBHuvreEGYWq
 072dGjqo0cjUMn8pYwfz3Z6SmA5jKzXIwgsXINAuAH6IUeiFHhVJ5A41am5IxNZg
 hDu99BUNqH1ntvI4n4zxclxO/U4tj4srXVvUJpJ7tX90seGVjMtou9X8tPwZoPAx
 AVPo3Cww4/BGHJZSx3L84s88wFjp40olEdDfA2cKVOJaLuIzlB8draD7jpi4oUyv
 VitpTAfFRvoQs01h6DTJyvvsf5iyZqaEcDlg+fEkjPH2dYIGBcbKf0UjEbLfa/CH
 2p2wa9tRBtJJ0t1ctUQNjj3a+5KORo0AmquJAlQEEwEKAD4CGwMFCwkIBwMFFQoJ
 CAsFFgIDAQACHgECF4AWIQQjWeZTjAYT5lKVXmwYjt07eyLmowUCZGuTNwUJBfKo
 CgAKCRAYjt07eyLmo+LmD/9stVNtzxn1jKl7t8aliKY+mdz9kUyyV+UzZOZ3GwLa
 JHXy7dxmiEA2Z4f22fF1RmY4jUQ2nm4boKyKg8c1zBCAfNtD92can992hlpK07lu
 3aBBeyZP4mY71BxkEV76FetA/aOnxtEGcT2zmA0D2wGTSYjH/uj0eyS/4GwVvG+L
 dBgJKNDw/rladL3B2p9xzIJRyPZ+sF9GhDRLxHMs8PcadM/2k7iBR9gG6mWxlU6x
 6gRITVnxztABuz7EpctzULA9Z1aCQu5ox2ohCY3uMJlRCp8P+CkVT5qtRExQAUtC
 5rfydstkwWBZ76sYnJY/2ulAwlQkCVZvNYsFV0hm404z/EmRZHSvJjvId/vnyG8b
 oHdl8tqRxtWUSKuGu6cs9wzeleZ1BmeABjLPr1lwlpxYcuFdxbwjf5HYGb2lIXQc
 DYjppYXXWvDH2VONrcVnwyF+X/YMwjoXx9gKnv1EJTKoNYmkeA9NsE19SkqosfRO
 SJ+9BZzoVLnk0jes3/pbOPc40CPZz5DCtHfVJuSicWEf8132ZfmEeLl3nH2nmAxm
 9Ei/yz4QJIaeGs3+GtNIiVo0S7ygOmkq6+m4qGDxSiWFIbxaMxtDiWFSuXS1AKH7
 J8hjZVVQkM0vewatPh1a2Gt+zZOWnZlpJx1jt/vuCSU9Kk9J1FJL17b18Z3xVzwq
 PbkCDQRgmWatARAAquwsTHoAeCbgvNVQ2SjRoD70X2WM7xPSRlfRvxs9iqPCDbbA
 TGyEFVy53XriWamD05OV+nTyiXuopPVlEqXb6cS3ctRYlY7zjMWl72QnlwfDUo4n
 B6vClka74DNeRhkaNbwQvAS8o4erZyJpJiPOhzSRMt5Lzezo4BXl2nLTuMl2jxru
 CfDoJQGDi7zY2pq4mPxMRUublEa5h4CQfW3hBWPl0uxW1I/NUdx+uFwipSiFbmVp
 pFR1iqmRnaWsfXg1p0+zRqwWmdAyhyh5IpuNt1gMIqqtWKQaQTufOhf2T3RyRKTj
 vFNI3NjTwR+fpMOJqZHq4W5nfPTSkQXHGcGFb9OBGLckM+xmsgURGuysI+W6t7AB
 Pg6kYHlhSwVVnWnlPfM2sC0deULMfOXBr8RSWhPS8j1h8h0pSXsq09ITRNNhxt0p
 73/mRasBYD6WBWeZzvAU1tUvp62F2Roq7JSKnxbNJYNXdAePHE7YODBEqLmfum2Q
 1kf+O7Oo4nJ3H2FTakh+XdSH4/ILrsQ0GciSxIdfJHDh9MHs7e5TPx+pF2Zw87JT
 iVALm1IKWfyG04HXePVFvd0HqSPsp7sEqIKiD3+dtVwFPzq+zmPreydntVWggs73
 s/qImehloepQaXHD1Jw1rbYt1NouYSuLMBhWt1L4ulMG2R4oYv4lIqeLisUAEQEA
 AYkCPAQYAQoAJgIbDBYhBCNZ5lOMBhPmUpVebBiO3Tt7IuajBQJigiCxBQkECocE
 AAoJEBiO3Tt7IuajfzoP/1HkUtPn42HnWRsFTAnefdUwxE/73Q9Ql39iiInPbuBX
 fZzam2DQff3OUFrVWLAfZVnLS90QOwtw7c1lF0Lb01BQIpkifR9VrTjLzTQMESrm
 188uJ4lNXsaPb3pY3ShQX5chTVQa2sy/goVM0L00fTrMPrIBjvCUAp8Y8BtEfTuU
 G1n5EMwpdFcGQGTma1s/AL3EgkxK4JJAGyG8oY8oYkrK/eejCeRlpQz5W1l8AlP2
 iFjW8oIYurHWefUbcTBYe8kDBuf+OvC7eoSAR4W9esDsBLrb0+b6O5c/Pi9D9wu9
 bzIYJNLc21eJ9yWDkAFKmw36PVhit7uGQc4JHTN6vFEz9kbwlRkFcmSeHrcR0mlh
 wObn580PqHLLHf5R9PmeVVU8xOeDJSWriQZ1910Lj+H22t44yUXp2Xa+CO9AGHnZ
 EucfL8B1HsJpR4Dq7PQCZxr5rq2xY1CnVREaY7OXBf5vQagYFXOXtjpmBZW7WOzS
 sJxbzgRGpis/HwfThkKubqsXTycnCZCy9pu8GGRRsZ83cB20MHX7/KizS7faMcQ3
 9ZEp4eD+k4FcdTdxtTIkkgu/TZNjFb6UOjLEODtvdBQcm7CdP9UdNXty/ba7LVxF
 0OIBejBzGHQaTYXAZaLxjD6SNQBu1M9kzFTNKfk/AxTgWzz+tOe31/M69fkj9GW5
 iQI8BBgBCgAmAhsMFiEEI1nmU4wGE+ZSlV5sGI7dO3si5qMFAmRrl+cFCQXyrLoA
 CgkQGI7dO3si5qPkABAArXr6ALKSu/JEcA618KZfQ1saJDBq2NwZqhq5NXCQpUA9
 sHBg8NW70A5GtweMIGPg4dgllsyLJT+S42H8IV+DGevseTGrbp77xi2/GSrufVt1
 RLOi7SNDRXCGPYSkH9hNsyhor1Rw+dvAn9ydT1MtzrGIhrmRwVOBwKqMUHa6T22V
 cKGkP6e0sx4Qt53zd82GJWGOo9C4WhD48xHaTpFaex7Xj4Cq4frfJ+C17Om3Vlzb
 0aCAYL99rPkvDR7NvDscTw/270bv8/11hF+51DtIzs6bRXasl+veOL7ykLgTgEDY
 rXDiZbyKAYJlwriRX5gRMQ0l0WV93Vz56jqK1DMGs24E3pnLvSgBvKFBd/Ftclxw
 maWUjCk3UCjdX7okDsnASUSlR/qsERSmPvDIYOSMNCIgW7g+vnXBjGI3LS+1rnIh
 F72Ytf7RJwKhR8ILxkv8elp/0hsvsC5JvZtpz/ohQHoGPaNgeRMp8cKODDObdnBN
 TPJNyfFn0JheuGtygiiGLI9/GTq/3gu3x1rufiK1E7kpnyAwE7PsFkIsR3e7p7z1
 NAhMB7JtiQchIcYjfBbI3KU+xGrgxfW6/eIBpqpEegmhc5ByJOCGGRHda0ZUvbWl
 w4aNxAbmlvMlq44f9UvAA61blx0imoRCzl63gy2EtWNnCj/00d4cJEhMzRD01y0=
 =7tul
 -----END PGP PUBLIC KEY BLOCK-----
