---
name: ci

on: [push, pull_request, merge_group]

jobs:
  lint:
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora:37
    steps:
      - run: dnf install -y git make
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          make install-deps
          pip install --require-hashes -r requirements/dev-requirements.txt
      - name: Run linters
        run: |
          git config --global --add safe.directory '*'
          make lint
  build-rpm:
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora:37
    steps:
      - run: dnf install -y git make
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          make install-deps
          pip install --require-hashes -r requirements/dev-requirements.txt
      - name: Build RPM
        run: |
          git config --global --add safe.directory '*'
          make build-rpm
      - name: Check reproducibility
        run: make reprotest
  launcher-tests:
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora:37
    steps:
      - run: dnf install -y make
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          make install-deps
          pip install --require-hashes -r launcher/dev-requirements.txt
      - name: Run launcher tests
        run: |
          cd launcher/
          make check
