---
name: ci

on:
  - push
  - pull_request
  - merge_group

# Only build for latest push/PR unless it's main or release/
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && !startsWith( github.ref, 'refs/heads/release/' ) && !startsWith( github.ref, 'refs/heads/gh-readonly-queue/' ) }}

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: &qubes_release
        qubes_release:
          - { name: "Qubes 4.2", fedora_ver: "37", python_ver: "3.11" }
          - { name: "Qubes 4.3", fedora_ver: "41", python_ver: "3.13" }

    container:
      image: quay.io/fedora/fedora:${{ matrix.qubes_release.fedora_ver }}
    steps:
      - run: dnf install -y git make
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          make test-deps
          pip install poetry==2.1.1
          poetry install --no-ansi
      - name: Run linters
        run: |
          git config --global --add safe.directory '*'
          make lint
  build-rpm:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: *qubes_release
    container:
      image: quay.io/fedora/fedora:${{ matrix.qubes_release.fedora_ver }}
    steps:
      - run: dnf install -y git make
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          make build-deps
      - name: Build RPM
        run: |
          git config --global --add safe.directory '*'
          make build-rpm
      - name: Check reproducibility
        run: |
          make test-deps
          make reprotest
  launcher-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix: *qubes_release
    container:
      image: quay.io/fedora/fedora:${{ matrix.qubes_release.fedora_ver }}
    steps:
      - run: dnf install -y make
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          make test-deps
          pip install poetry==2.1.1
          poetry env use python${{ matrix.qubes_release.python_ver }}
          poetry install --no-ansi
      - name: Run launcher tests
        run: |
          make test-launcher
