---
name: ci

on:
  - push
  - pull_request
  - merge_group

# Only build for latest push/PR unless it's main or release/
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && !startsWith( github.ref, 'refs/heads/release/' ) && !startsWith( github.ref, 'refs/heads/gh-readonly-queue/' ) }}

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        fedora_version:
          - 37  # Qubes 4.2
          - 41  # Qubes 4.3
    container:
      image: quay.io/fedora/fedora:${{ matrix.fedora_version }}
    steps:
      - run: dnf install -y git make
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          make test-deps
          pip install poetry==2.1.1
          poetry install --no-ansi
      - name: Run linters
        run: |
          git config --global --add safe.directory '*'
          make lint
  build-rpm:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        fedora_version:
          - 37  # Qubes 4.2
          - 41  # Qubes 4.3
    container:
      image: quay.io/fedora/fedora:${{ matrix.fedora_version }}
    steps:
      - run: dnf install -y git make
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          make build-deps
      - name: Build RPM
        run: |
          git config --global --add safe.directory '*'
          make build-rpm
      - name: Check reproducibility
        run: |
          make test-deps
          make reprotest
  launcher-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        qubes_release:
          - { fedora_ver: "37", python_ver: "python3.11" }  # Qubes 4.2
          - { fedora_ver: "41", python_ver: "python3.13" }  # Qubes 4.3
    container:
      image: quay.io/fedora/fedora:${{ matrix.qubes_release.fedora_ver }}
    steps:
      - run: dnf install -y make
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          make test-deps
          pip install poetry==2.1.1
          poetry env use ${{ matrix.qubes_release.python_ver }}
          poetry install --no-ansi
      - name: Run launcher tests
        run: |
          make test-launcher
