Source: securedrop-workstation-grsec
Section: base
Priority: optional
Maintainer: SecureDrop Team <securedrop@freedom.press>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/freedomofpress/securedrop-workstation.git

Package: securedrop-workstation-grsec
Version: {{ kernel_version }}
Architecture: amd64
Provides: securedrop-workstation-grsec-latest
Depends: {{ kernel_dependencies }}
Description: Linux for SecureDrop Workstation template (meta-package)
 Metapackage providing a grsecurity-patched Linux kernel for use in SecureDrop
 Workstation Qubes templates. Depends on the most recently built patched kernel
 maintained by FPF.
